/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

#header {
  text-align: center;
  padding: 20px;
  background: url('asset/images/background.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  border: 1px solid #ffffff;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

#header h1 {
  margin: 10px 0;
  color: white;
}

.slogan {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
  transition: color 0.3s, transform 0.3s;
}

.slogan:hover {
  color: #ffdd57; /* Change color on hover */
  transform: scale(1.05); /* Slightly enlarge the text on hover */
}

#personal-info, #education, #skills, #work-experience, #header {
  background-color: white;
  border-radius: 10px;
}

/* Button for showing form */
#home-button {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#show-form-button {
  padding: 5px 15px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#home-button:hover {
  background-color: #0056b3;
}

#show-form-button:hover {
  background-color: #0056b3;
}

button {
  padding: 8px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

section {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
}

.skills-content {
  display: none;
}

/* Base Styles */
.skills-content ul li img {
  height: 50px;
  width: 50px;
  list-style: none;
  margin-right: 20px; /* Adjusted for consistency */
}

.skills-content ul li {
  display: inline-block;
  text-align: center;
}

.skills-content ul {
  padding-left: 0;
  text-align: center;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills ul li {
  position: relative;
  margin: 10px;
  text-align: left;
  padding-right: 60px;
}

#skills ul li img {
  transition: transform 0.3s ease;
  padding-right: 0;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill-text {
  opacity: 0;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease, left 0.3s ease;
  white-space: nowrap;
  font-weight: 700;
}

#skills ul li:hover .skill-text {
  opacity: 1;
  left: 70px;
}

#skills ul li:hover img {
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .skills-content ul {
    padding-left: 20px;
    text-align: left;
  }

  .skills-content ul li {
    display: block;
    text-align: left;
    margin-right: 0;
  }

  .skills-content ul li img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .skill-text {
    left: 70px; /* Adjusted for smaller screens */
  }

  #skills ul li:hover .skill-text {
    left: 60px; /* Adjusted for hover on smaller screens */
  }
}


#static-resume {
  margin: 0px;
  border: 1px solid #000000;
  background-image: url(/asset/images/abstract-uv-ultraviolet-light-composition-bg.jpg);
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  position: relative;
}

h1 {
  margin: 10px 0;
  color: black;
}

.modal-content h2 {
  text-align: center;
  color: #ffffff;
}

#personal-info, #education, #skills, #work-experience {
  border: 2px solid rgb(0, 0, 0);
}

@media (max-width: 600px) {
  section {
    margin: 5px;
    padding: 10px;
  }
}
